@page "/labels/label-mop"
@using HealthCareApp.Components.Page
@using HealthCareApp.Settings.Theme

<PageWrapper>
    <PageHeader>
        <PageHeaderTitle Title="Label Mop"
                   Theme="Theme.Label" />
        <PageMenu>
            <button type="button"
                    class="btn btn-info btn-rounded btn-icon text-white"
                    title="Add new label"
                    @onclick="() => OpenModalAddAsync()">
                <i class="bi bi-plus-lg"></i>
            </button>
        </PageMenu>
    </PageHeader>
    <PageBody Styles="p-2">
        <div class="flex-container">

        </div>
    </PageBody>
    <PageFooter></PageFooter>
</PageWrapper>
