<div class="card card-cover hca-card-feature-view hca-border-radius overflow-hidden text-white bg-dark m-1"
     style="background-image: url('@BackgroundImage'); background-size: cover; ">
    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
        @ChildContent
    </div>
</div>
