@if (Link != string.Empty)
{
    <a href="@Link" class="card hca-card-view rounded hca-box-shadow m-2">
        @ChildContent
    </a>
}
else
{
    <div class="card hca-card-view rounded hca-box-shadow m-2">
        @ChildContent
    </div>
}
