<div class="card-header hca-card-header hca-border-radius text-center">
    @if (Icon.Length > 0)
    {
        <i class="@Icon hca-@IconTheme-icon xxlg-icon"></i>
    }
    else
    {
        <img src="@ImageUrl" class="card-img-top mb-1" alt="@ImageDescription">
    }
    @if (Title.Length > 0)
    {
        <h3 class="card-title">@Title</h3>
    }
</div>
