@if (@Link != "")
{
    <div class="card hca-card-view m-2">
        <a href="@Link">
            @ChildContent
        </a>
    </div>
}
else
{
    <div class="card hca-card-view m-2">
        @ChildContent
    </div>
}

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Link { get; set; } = "";

}
