@if (Info is null)
{
    <div class="area-details area-details-empty h-100 d-flex flex-column justify-content-center align-items-center">
        <p>
            <h4 class="text-secondary">Area Details</h4>
            <i class="bi bi-body-text area-details-icon icon"></i>
            <span class="text-dark">Select area from the list to see more details.</span>
        </p>
    </div>
}
else
{
    @if (Loading)
    {
        <div class="area-details area-details-info h-100 d-flex flex-column justify-content-center align-items-center">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div>Loading...</div>
        </div>
    }
    else
    {
        <div class="area-details area-details-info">
            <fieldset class="px-2 pb-3">
                <legend><i class="bi bi-info-square"></i>Area details</legend>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="form-label fw-bolder"
                               for="Department">
                            Department
                        </label>
                        <input type="text"
                               class="form-control-plaintext hca-form-control-plaintext"
                               id="Department"
                               value="@Info.DepartmentName"
                               readonly />
                    </div>
                </div>
            </fieldset>
        </div>
    }
}
