@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/*
    App Main Colors
    #997588;
    #f7eee7;
    #d6c1b8;
    #755767;
*/
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background: linear-gradient(
        0deg, rgba(248, 184, 139,0) 20%,
        rgba(248, 184, 139,.1) 20%,
        rgba(248, 184, 139,.1) 40%,
        rgba(248, 184, 139,.2) 40%,
        rgba(248, 184, 139,.2) 60%,
        rgba(248, 184, 139,.4) 60%,
        rgba(248, 184, 139,.4) 80%,
        rgba(248, 184, 139,.6) 80%),
        linear-gradient(
        45deg, rgba(250, 248, 132,0) 20%,
        rgba(250, 248, 132,.1) 20%,
        rgba(250, 248, 132,.1) 40%,
        rgba(250, 248, 132,.2) 40%,
        rgba(250, 248, 132,.2) 60%,
        rgba(250, 248, 132,.4) 60%,
        rgba(250, 248, 132,.4) 80%,
        rgba(250, 248, 132,.6) 80%),
        linear-gradient(
        90deg, rgba(186, 237, 145,0) 20%,
        rgba(186, 237, 145,.1) 20%,
        rgba(186, 237, 145,.1) 40%,
        rgba(186, 237, 145,.2) 40%,
        rgba(186, 237, 145,.2) 60%,
        rgba(186, 237, 145,.4) 60%,
        rgba(186, 237, 145,.4) 80%,
        rgba(186, 237, 145,.6) 80%),
        linear-gradient(
        135deg, rgba(178, 206, 254,0) 20%,
        rgba(178, 206, 254,.1) 20%,
        rgba(178, 206, 254,.1) 40%,
        rgba(178, 206, 254,.2) 40%,
        rgba(178, 206, 254,.2) 60%,
        rgba(178, 206, 254,.4) 60%,
        rgba(178, 206, 254,.4) 80%,
        rgba(178, 206, 254,.6) 80%),
        linear-gradient(
        180deg, rgba(242, 162, 232,0) 20%,
        rgba(242, 162, 232,.1) 20%,
        rgba(242, 162, 232,.1) 40%,
        rgba(242, 162, 232,.2) 40%,
        rgba(242, 162, 232,.2) 60%,
        rgba(242, 162, 232,.4) 60%,
        rgba(242, 162, 232,.4) 80%,
        rgba(242, 162, 232,.6) 80%),
        linear-gradient(
        225deg, rgba(254, 163, 170,0) 20%,
        rgba(254, 163, 170,.1) 20%,
        rgba(254, 163, 170,.1) 40%,
        rgba(254, 163, 170,.2) 40%,
        rgba(254, 163, 170,.2) 60%,
        rgba(254, 163, 170,.4) 60%,
        rgba(254, 163, 170,.4) 80%,
        rgba(254, 163, 170,.6) 80%),
        linear-gradient(270deg,
        rgba(248, 184, 139,0) 20%,
        rgba(248, 184, 139,.1) 20%,
        rgba(248, 184, 139,.1) 40%,
        rgba(248, 184, 139,.2) 40%,
        rgba(248, 184, 139,.2) 60%,
        rgba(248, 184, 139,.4) 60%,
        rgba(248, 184, 139,.4) 80%,
        rgba(248, 184, 139,.6) 80%),
        linear-gradient(315deg,
        rgba(250, 248, 132,0) 20%,
        rgba(250, 248, 132,.1) 20%,
        rgba(250, 248, 132,.1) 40%,
        rgba(250, 248, 132,.2) 40%,
        rgba(250, 248, 132,.2) 60%,
        rgba(250, 248, 132,.4) 60%,
        rgba(250, 248, 132,.4) 80%,
        rgba(250, 248, 132,.6) 80%);
    background-color: #f3f2f1;
    background-size: 100% 100%;
    min-height: 100vh;
}

a, .btn-link {
    color: #755767;
    text-decoration: none;
}

a:hover {
    color: #493640;
}

.btn-primary {
    color: #fff;
    background: linear-gradient(135deg,#0a7fd8 0,#0a7fd8 29%,#0069b9 76%,#0069b9 100%);
    border-color: #1861ac;
}

.btn-rounded {
    border-radius: 45px;
}

.btn-icon {
    width: 38px;
}

.btn-icon i {
    margin-left: -2px;
}
.breadcrumb-divider {
    --bs-breadcrumb-divider: '/';
}
.breadcrumb-no-divider {
    --bs-breadcrumb-divider: '';
}
.hca-breadcrumb {
    padding-left: 0.5rem;
}
.content {
    width: calc(100% - 1rem);
    height: calc(100% - (86px - 1rem));
    margin: auto;
    background-color: #f3f2f1;
/*    border-radius: 0.8rem;*/
}

.form-control {
    border-radius: 1.8rem;
}
.form-control:focus {
    border-color: #0dcaf0;
    outline: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 4px rgb(13 202 240 / 60%);
}

.hca-form-control-lg {
    min-height: calc(1.5em + 1rem + 5px);
    padding: 0.5rem 1rem;
    font-size: 2.0rem;
    font-weight: 300;
}

.valid.modified:not([type=checkbox]) {
    border-color: #198754;
}

.invalid {
    border-color: #dc3545;
}

.validation-message {
    color: #dc3545;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
.highlight {
    background-color: #dbe0e1;
    border-radius: 8px;
}
.markup-background {
    background-color: #f4fdff;
/*    border-radius: 0.8rem;*/
}
.flex-container {
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
}
.flex-container .flex-container-list {
    overflow-y: auto;
}
.flex-container .flex-container-list-search {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f3f2f1;
}
.flex-container .flex-container-main {
    flex-grow: 2;
}
.badge {
    border-radius: 8px;
}
.xs-icon {
    font-size: .9rem;
}
.sm-icon {
    font-size: 1.2rem;
}
.md-icon {
    font-size: 1.6rem;
}
.lg-icon {
    font-size: 3rem;
}
.xlg-icon {
    font-size: 5rem;
}
.xxlg-icon {
    font-size: 6.5rem;
}
.logo-icon {
    color: #ff2f2f;
}
.hca-app-icon, .hca-app-title {
    color: #0dcaf0;
}
.hca-App-icon,
.hca-Employee-icon,
.hca-Department-icon,
.hca-Patient-icon,
.hca-Supplier-icon,
.hca-Label-icon,
.hca-Area-icon {
    color: #997588;
}
.hca-form-control-plaintext {
    padding: 0 0 1.5rem 0;
}
.hca-list-group-item {
/*    border-radius: 0.8rem;*/
    background-color: #ffffff;
    border: none;
}
.hca-list-group-item:first-child {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}
.hca-list-group-item:last-child {
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}
.hca-box-shadow {
    box-shadow: 0px 12px 15px 0px rgb(0 0 0 / 10%);
}
.hca-border-radius {
    border-radius: 0.8rem;
}
.hca-bg-label-scan {
    border-radius: 4rem;
}
.hca-bg-default {
    background-color: #f3f2f1;
}
.hca-data-list-body {
    top: 86px;
}
a.hca-box-shadow:hover {
    cursor: pointer;
    transform: scale(1.02, 1.02);
    box-shadow: 0px 17px 20px -12px rgb(0 0 0 / 50%);
    text-decoration: none;
    transition: all .1s ease-in-out;
}
.list-group-item-action:focus, .list-group-item-action:hover {
    background-color: #dbe0e1;
}
.zpl-format {
    word-break: break-all;
}
.w-120 {
    width: 120px;
}
.w-140 {
    width: 140px;
}
@media (min-width: 641px) {
    .content {
        width: calc(100% - 3rem);
    }
}
@media (min-width: 1200px) {
    .flex-container {
        grid-template-columns: 40% auto;
    }
}
