@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/*
    App Main Colors
    #997588;
    #f7eee7;
    #d6c1b8;
    #755767;
*/
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background: linear-gradient(
        0deg, rgba(248, 184, 139,0) 20%,
        rgba(248, 184, 139,.1) 20%,
        rgba(248, 184, 139,.1) 40%,
        rgba(248, 184, 139,.2) 40%,
        rgba(248, 184, 139,.2) 60%,
        rgba(248, 184, 139,.4) 60%,
        rgba(248, 184, 139,.4) 80%,
        rgba(248, 184, 139,.6) 80%),
        linear-gradient(
        45deg, rgba(250, 248, 132,0) 20%,
        rgba(250, 248, 132,.1) 20%,
        rgba(250, 248, 132,.1) 40%,
        rgba(250, 248, 132,.2) 40%,
        rgba(250, 248, 132,.2) 60%,
        rgba(250, 248, 132,.4) 60%,
        rgba(250, 248, 132,.4) 80%,
        rgba(250, 248, 132,.6) 80%),
        linear-gradient(
        90deg, rgba(186, 237, 145,0) 20%,
        rgba(186, 237, 145,.1) 20%,
        rgba(186, 237, 145,.1) 40%,
        rgba(186, 237, 145,.2) 40%,
        rgba(186, 237, 145,.2) 60%,
        rgba(186, 237, 145,.4) 60%,
        rgba(186, 237, 145,.4) 80%,
        rgba(186, 237, 145,.6) 80%),
        linear-gradient(
        135deg, rgba(178, 206, 254,0) 20%,
        rgba(178, 206, 254,.1) 20%,
        rgba(178, 206, 254,.1) 40%,
        rgba(178, 206, 254,.2) 40%,
        rgba(178, 206, 254,.2) 60%,
        rgba(178, 206, 254,.4) 60%,
        rgba(178, 206, 254,.4) 80%,
        rgba(178, 206, 254,.6) 80%),
        linear-gradient(
        180deg, rgba(242, 162, 232,0) 20%,
        rgba(242, 162, 232,.1) 20%,
        rgba(242, 162, 232,.1) 40%,
        rgba(242, 162, 232,.2) 40%,
        rgba(242, 162, 232,.2) 60%,
        rgba(242, 162, 232,.4) 60%,
        rgba(242, 162, 232,.4) 80%,
        rgba(242, 162, 232,.6) 80%),
        linear-gradient(
        225deg, rgba(254, 163, 170,0) 20%,
        rgba(254, 163, 170,.1) 20%,
        rgba(254, 163, 170,.1) 40%,
        rgba(254, 163, 170,.2) 40%,
        rgba(254, 163, 170,.2) 60%,
        rgba(254, 163, 170,.4) 60%,
        rgba(254, 163, 170,.4) 80%,
        rgba(254, 163, 170,.6) 80%),
        linear-gradient(270deg,
        rgba(248, 184, 139,0) 20%,
        rgba(248, 184, 139,.1) 20%,
        rgba(248, 184, 139,.1) 40%,
        rgba(248, 184, 139,.2) 40%,
        rgba(248, 184, 139,.2) 60%,
        rgba(248, 184, 139,.4) 60%,
        rgba(248, 184, 139,.4) 80%,
        rgba(248, 184, 139,.6) 80%),
        linear-gradient(315deg,
        rgba(250, 248, 132,0) 20%,
        rgba(250, 248, 132,.1) 20%,
        rgba(250, 248, 132,.1) 40%,
        rgba(250, 248, 132,.2) 40%,
        rgba(250, 248, 132,.2) 60%,
        rgba(250, 248, 132,.4) 60%,
        rgba(250, 248, 132,.4) 80%,
        rgba(250, 248, 132,.6) 80%);
    background-color: #2000a3;
    background-size: 100% 100%;
    min-height: 100%;
}

a, .btn-link {
    color: #755767;
    text-decoration: none;
}

a:hover {
    color: #493640;
}

.btn-primary {
    color: #fff;
    background: linear-gradient(135deg,#0a7fd8 0,#0a7fd8 29%,#0069b9 76%,#0069b9 100%);
    border-color: #1861ac;
}

.btn-rounded {
    border-radius: 45px;
}

.btn-icon {
    width: 38px;
}

.btn-icon i {
    margin-left: -2px;
}

.content {
    width: calc(100% - 3rem);
    height: calc(100% - (86px - 1rem));
    margin: auto;
    background-color: #f3f2f1;
    border-radius: 1.8rem;
}

.form-control {
    border-radius: 1.8rem;
}

.valid.modified:not([type=checkbox]) {
    border-color: #198754;
}

.invalid {
    border-color: #dc3545;
}

.validation-message {
    color: #dc3545;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
.highlight {
    background-color: #dbe0e1;
    border-radius: 8px;
}
.markup-example {
    background-color: #ffffff;
    border-radius: 1.8rem;
}
.flex-container {
    display: grid;
    grid-template-columns: 40% auto;
    height: 100%;
}
.flex-container .flex-container-list {
    overflow-y: auto;
    border-right: 1px solid #d6c1b8;
}
.flex-container .flex-container-list-search {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f3f2f1;
}
.flex-container .flex-container-main {
    flex-grow: 2;
}
.badge {
    border-radius: 8px;
}
.xs-icon {
    font-size: .9rem;
}
.sm-icon {
    font-size: 1.2rem;
}
.md-icon {
    font-size: 1.6rem;
}
.lg-icon {
    font-size: 3rem;
}
.xlg-icon {
    font-size: 5rem;
}
.xxlg-icon {
    font-size: 6.5rem;
}
.logo-icon {
    color: #ff2f2f;
}
.hca-app-icon, .hca-app-title {
    color: #0dcaf0;
}
.hca-App-icon, .hca-App-title {
    color: #997588;
}
.hca-Employee-icon, .hca-Employee-title {
    color: #997588;
}
.hca-Department-icon, .hca-Department-title {
    color: #997588;
}
.hca-Patient-icon, .hca-Patient-title {
    color: #997588;
}
.hca-Supplier-icon, .hca-Supplier-title {
    color: #997588;
}
.hca-form-control-plaintext {
    padding: 0 0 1.5rem 0;
}
.hca-list-group-item {
    border-radius: 1.8rem;
    background-color: #ffffff;
    border: none;
}
.hca-list-group-item:first-child {
    border-top-left-radius: 1.8rem;
    border-top-right-radius: 1.8rem;
}
.hca-list-group-item:last-child {
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
}
.list-group-item-action:focus, .list-group-item-action:hover {
    background-color: #dbe0e1;
}
