<div class="position-fixed bottom-0 end-0 p-4"
     style="z-index: 1066">
    <div id="@ToastId"
         class="toast @(IsVisible ? "show": "hide") @ToastBackgroundColor text-white border-0 fade"
         role="alert"
         aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @ToastMessage
            </div>
            <button type="button"
                    class="btn-close btn-close-white me-2 m-auto"
                    aria-label="Close"
                    @onclick="() => HideToast()"
            ></button>
        </div>
    </div>
</div>
