<div class="container-lg">
    <div class="row py-3 my-3">
        <div class="col-sm-12 col-lg-4 mb-3">
            <p class="text-muted">© HealthCare</p>
        </div>

        <div class="col-sm-12 col-lg-4 mb-3 text-center">
            <img src="/apple-touch-icon.png" alt="image" width="28" height="28" class="rounded">
        </div>

        <div class="col-sm-12 col-lg-4 mb-3 hca-footer-links">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link  text-muted" href="/">
                        Home
                    </NavLink>
                    <NavLink class="nav-link text-muted" href="/about">
                        About
                    </NavLink>
                    <NavLink class="nav-link text-muted" href="/playground">
                        Playground
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>
