<div class="container-lg">
    <div class="row">
        <div class="col-sm-12 col-lg-4 ">
            <span class="text-muted">© MyApp</span>
        </div>

        <div class="col-sm-12 col-lg-4 text-center">
            <img src="/apple-touch-icon.png" alt="image" width="28" height="28" class="rounded">
        </div>

        <div class="col-sm-12 col-lg-4 hca-footer-links">

                    <NavLink class="nav-link  text-muted" href="/">
                        Home
                    </NavLink>
                    <NavLink class="nav-link text-muted" href="/about">
                        About
                    </NavLink>
                    <NavLink class="nav-link text-muted" href="/playground">
                        Playground
                    </NavLink>
        </div>
    </div>
</div>
