<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuUser" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                Hello, @context.User.Identity?.Name!
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuUser">
                <li class="border-bottom">
                    <a class="dropdown-item" href="Identity/Account/Manage">Account</a>
                </li>
                <li>

                    <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="dropdown-item">Log out</button>
                    </form>
                </li>
            </ul>
        </div>
    </Authorized>
</AuthorizeView>
