@using HealthCareApp.Settings.Enum
@using BaseLibrary
<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <a class="btn btn-primary" id="dropdownMenuUser" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                Hello, @context.User.Identity?.Name.Truncate((int)Truncate.FirstName)<i class="bi bi-chevron-down ps-2"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end border-light shadow-lg" aria-labelledby="dropdownMenuUser">
                <li>
                    <a class="dropdown-item" href="Identity/Account/Manage">
                        <i class="bi bi-person pe-1"></i>Account
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-box-arrow-left pe-1"></i>Log out
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </Authorized>
</AuthorizeView>
