@using HealthCareApp.Components.Message
@using HealthCareApp.Components.Footer

@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<div class="main">
    @Body
</div>
<div class="container">
    <Footer />
</div>
