@using HealthCareApp.Components.Message

@inherits LayoutComponentBase

<NavMenu />
<div class="page">

    <div class="main">

        <div class="content py-2 hca-border-radius">
            @Body
        </div>

    </div>
</div>
