@using HealthCareApp.Components.Message 

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>
        <div class="content">
            <AuthorizeView>
                <Authorized>
                    @Body
                </Authorized>
                <NotAuthorized>
                    <NotAuthorizedMessage />
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>
