@using HealthCareApp.Components.Message
@using HealthCareApp.Components.Footer

@inherits LayoutComponentBase

<header>
    <NavView />
</header>
<div class="main">
    @Body
</div>
<AuthorizeView>
    <Authorized>
        <footer class="bg-light py-3 fixed-bottom">
            <FooterViewAuthorized />
        </footer>
    </Authorized>
    <NotAuthorized>
        <footer class="bg-light py-3">
            <FooterViewNotAuthorized />
        </footer>
    </NotAuthorized>
</AuthorizeView>
