@using HealthCareApp.Components.Message
@using HealthCareApp.Components.Footer

@inherits LayoutComponentBase

<header>
    <NavView />
</header>
<div class="main">
    @Body
</div>

<footer class="bg-light py-3">
    <AuthorizeView>
        <Authorized>
            <FooterViewAuthorized />
        </Authorized>
        <NotAuthorized>
            <FooterViewNotAuthorized />
        </NotAuthorized>
    </AuthorizeView>
</footer>
