<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <span class="px-1">HealthCare</span>
        <span class="oi oi-medical-cross logo-icon" aria-hidden="true"></span>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <i class="bi-justify" aria-hidden="true"></i>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="bi-house" aria-hidden="true"></i>Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <i class="bi-plus-lg" aria-hidden="true"></i>Counter
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <i class="bi-list-columns" aria-hidden="true"></i>Fetch data
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="playground">
                        <i class="bi-controller" aria-hidden="true"></i>Playground
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/about-us">
                        <i class="bi-building" aria-hidden="true"></i>About us
                    </NavLink>
                    <NavLink class="nav-link" href="/contact-us">
                        <i class="bi-envelope" aria-hidden="true"></i>Contact us
                    </NavLink>
                    <NavLink class="nav-link" href="/map">
                        <i class="bi-map" aria-hidden="true"></i>Map
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private Boolean collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
