<div class="top-row pl-4 px-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <span class="px-1">HealthCare</span>
        <span class="oi oi-medical-cross logo-icon" aria-hidden="true"></span>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <i class="bi bi-justify"></i>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="bi bi-house sm-icon"></i>Dashboard
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="schedules">
                        <i class="bi bi-list-stars sm-icon"></i>Schedules
                    </NavLink>
                </li>
                @*<li class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <i class="bi bi-plus-lg sm-icon"></i>Counter
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <i class="bi bi-list-columns sm-icon"></i>Fetch data
                    </NavLink>
                </li>*@
                <li class="nav-item px-3 nav-link-submenu">
                    <NavLink class="nav-link" @onclick="() => ToggleNavSubmenu(NavSubmenu.First)">
                        <i class="bi bi-gear-wide-connected sm-icon"></i>Settings
                    </NavLink>
                </li>
                @if (navSubmenu == NavSubmenu.First)
                {
                    <li class="nav-item px-5">
                        <NavLink class="nav-link" href="/employees">
                            <i class="bi bi-people sm-icon"></i>Employees
                        </NavLink>
                    </li>
                    <li class="nav-item px-5">
                        <NavLink class="nav-link" href="/departments">
                            <i class="bi bi-columns-gap sm-icon"></i>Departments
                        </NavLink>
                    </li>
                }
                <li class="nav-item px-3 nav-link-submenu">
                    <NavLink class="nav-link" @onclick="() => ToggleNavSubmenu(NavSubmenu.Second)">
                        <i class="bi bi-controller sm-icon"></i>Playgrounds
                    </NavLink>
                </li>
                @if (navSubmenu == NavSubmenu.Second)
                {
                    <li class="nav-item px-5">
                        <NavLink class="nav-link" href="/playground/card">
                            <i class="bi bi-card-heading sm-icon"></i>Cards
                        </NavLink>
                    </li>
                    <li class="nav-item px-5">
                        <NavLink class="nav-link" href="/playground/page">
                            <i class="bi bi-layout-text-window-reverse sm-icon"></i>Pages
                        </NavLink>
                    </li>
                    <li class="nav-item px-5">
                        <NavLink class="nav-link" href="/playground/modal">
                            <i class="bi bi-window sm-icon"></i>Modals
                        </NavLink>
                    </li>
                    <li class="nav-item px-5">
                        <NavLink class="nav-link" href="/playground/toast">
                            <i class="bi bi-collection sm-icon"></i>Toasts
                        </NavLink>
                    </li>
                    <li class="nav-item px-5">
                        <NavLink class="nav-link" href="/playground/badge">
                            <i class="bi bi-usb-c sm-icon"></i>Badges
                        </NavLink>
                    </li>
                    <li class="nav-item px-5">
                        <NavLink class="nav-link" href="/playground/spinner">
                            <i class="bi bi-arrow-clockwise sm-icon"></i>Spinners
                        </NavLink>
                    </li>
                }
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/about-us">
                        <i class="bi bi-building sm-icon"></i>About us
                    </NavLink>
                    <NavLink class="nav-link" href="/contact-us">
                        <i class="bi bi-envelope sm-icon"></i>Contact us
                    </NavLink>
                    <NavLink class="nav-link" href="/map">
                        <i class="bi bi-map sm-icon"></i>Map
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>
