@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;
@inject IWebHostEnvironment _env;

<nav class="navbar navbar-expand-lg fixed-top bg-light">
    <div class="container-fluid">
        <AuthorizeView>
            <Authorized>
                <a class="navbar-brand" href="/dashboard">
                    <img src="/apple-touch-icon.png" alt="logo" width="28" height="28" class="rounded">
                    <span class="navbar-brand-title">HealthCare</span>
                </a>
            </Authorized>
            <NotAuthorized>
                <a class="navbar-brand" href="/">
                    <img src="/apple-touch-icon.png" alt="logo" width="28" height="28" class="rounded">
                    <span class="px-1 navbar-brand-title">HealthCare</span>
                </a>
            </NotAuthorized>
        </AuthorizeView>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarApp" aria-controls="navbarApp" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarApp">
            <ul class="navbar-nav me-auto justify-content-end">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                                Dashboard
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="tracking-inventory">
                                Inventory
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="settings">
                                Settings
                            </NavLink>
                        </li>
                        @*@if (_navSubmenu == NavSubmenu.Settings)
                    {
                        <li class="nav-item px-5">
                            <NavLink class="nav-link" href="/employees">
                                <i class="bi bi-people sm-icon"></i>Employees
                            </NavLink>
                        </li>
                        <li class="nav-item px-5">
                            <NavLink class="nav-link" href="/departments">
                                <i class="bi bi-columns-gap sm-icon"></i>Departments
                            </NavLink>
                        </li>
                        <li class="nav-item px-5">
                            <NavLink class="nav-link" href="/labels">
                                <i class="bi bi-upc-scan sm-icon"></i>Labels
                            </NavLink>
                        </li>
                    }*@
                        @if (_env.IsDevelopment())
                        {
                            <li class="nav-item px-3">
                                <NavLink class="nav-link">
                                    APIs
                                </NavLink>
                            </li>
                            @*@if (_navSubmenu == NavSubmenu.Api)
                        {
                            <li class="nav-item px-5">
                                <NavLink class="nav-link" href="/playground/api-get">
                                    <i class="bi bi-terminal sm-icon"></i>Get
                                </NavLink>
                            </li>
                            <li class="nav-item px-5">
                                <NavLink class="nav-link" href="/playground/api-post">
                                    <i class="bi bi-terminal-plus sm-icon"></i>Post
                                </NavLink>
                            </li>
                            <li class="nav-item px-5">
                                <NavLink class="nav-link" href="/playground/api-put">
                                    <i class="bi bi-terminal-fill sm-icon"></i>Put
                                </NavLink>
                            </li>
                            <li class="nav-item px-5">
                                <NavLink class="nav-link" href="/playground/api-delete">
                                    <i class="bi bi-terminal-x sm-icon"></i>Delete
                                </NavLink>
                            </li>
                        }*@

                        }
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/about">
                                About
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
                <li class="nav-item px-3 nav-link-submenu">
                    <NavLink class="nav-link" href="/playgrounds">
                        Playgrounds
                    </NavLink>
                </li>
            </ul>
            <span class="">
                <LoginDisplay />
                <LoginOrRegister />
            </span>
        </div>
    </div>
</nav>
