.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #997588;
    color: #997588;
    padding: 0.25rem;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.05rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #9f2b2c;
}

.navbar-brand-title {
    display: none;
}

@media (min-width: 992px) {
    .navbar-toggler, .nav-item-logout {
        display: none;
    }
}

@media (max-width: 640.98px) {
    .hca-dropdown-menu {
        border-color: transparent;
    }
}

@media (min-width: 1200px) {
    .navbar-brand-title {
        display: block;
    }
}
