<div class="not-authorized-message">
    <span class="oi oi-lock-locked large-size-icon not-authorized" aria-hidden="true"></span>
    <h2 class="pt-4">Access restricted</h2>
    <p>To access this page, please log in.</p>
</div>

@code {

}
