@page "/contact-us"
@using HealthCareApp.Components.Page

<PageWrapper>
    <PageHeader Styles="">
        <PageHeaderTitle Title="Contact us"></PageHeaderTitle>
        <PageMenu>
        </PageMenu>
    </PageHeader>
    <PageBody Styles="">
        <div class="h-100 d-flex justify-content-center align-items-center">Page body</div>
    </PageBody>
    <PageFooter Styles="">
    </PageFooter>
</PageWrapper>
