@page "/admin/barcodes/mop";
@using HealthCareApp.Components.PageV3;
@using HealthCareApp.Components.Breadcrumb;
@using HealthCareApp.Components.Message;

<div class="container-lg">
    <AuthorizeView>
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <PageTopTitle Title="Barcode for mop" />
                        <Breadcrumb AppPageLink="@_appURL.AdminBarcodesMop"/>
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView>
                    <PageBottomWrapper>
                    </PageBottomWrapper>
                </PageBottomView>

            </PageWrapper>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
