@using HealthCareApp.Components.Modal
@using HealthCareApp.Settings.Theme

<Modal @ref="_modalUpdate"
        Theme="Theme.Employee"
        Size="ModalSize.lg">
    <Title>Update employee</Title>
    <Body>
        <EditForm Model="@_employee"
                  OnValidSubmit="@HandleValidSubmitAsync"
                  OnInvalidSubmit="@HandleInvalidSubmitAsync"
                  autocomplete="off"
                  id="FormUpdateEmploye">
            <ObjectGraphDataAnnotationsValidator />
            <div class="row">
                <div class="col-sm-8">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                                for="EmployeeFirstNameUpdate">
                            First Name
                        </label>
                        <div class="col-sm-8">
                            <InputText class="form-control"
                                        id="EmployeeFirstNameUpdate"
                                        @bind-Value="_employee.EmployeeFirstName" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                                for="EmployeeLastNameUpdate">
                            Last Name
                        </label>
                        <div class="col-sm-8">
                            <InputText class="form-control"
                                        id="EmployeeLastNameUpdate"
                                        @bind-Value="_employee.EmployeeLastName" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                                for="EmployeeUsernameUpdate">
                            Username
                        </label>
                        <div class="col-sm-8">
                            <InputText class="form-control"
                                        id="EmployeeUsernameUpdate"
                                        @bind-Value="_employee.EmployeeUsername" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                                for="EmployeePasswordUpdate">
                            Password
                        </label>
                        <div class="col-sm-8">
                            <InputText type="password"
                                        class="form-control"
                                        id="EmployeePasswordUpdate"
                                        @bind-Value="_employee.EmployeePassword" />
                        </div>
                    </div>

                    <fieldset>
                        <legend>Contact details</legend>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                    for="EmailUpdate">
                                Email
                            </label>
                            <div class="col-sm-8">
                                <InputText type="email"
                                            class="form-control"
                                            id="EmailUpdate"
                                            @bind-Value="_employee.ContactDetails.Email" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                    for="MobileUpdate">
                                Mobile
                            </label>
                            <div class="col-sm-8">
                                <InputText type="text"
                                            class="form-control"
                                            id="MobileUpdate"
                                            @bind-Value="_employee.ContactDetails.Mobile" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                    for="PhoneUpdate">
                                Phone
                            </label>
                            <div class="col-sm-8">
                                <InputText type="text"
                                            class="form-control"
                                            id="PhoneUpdate"
                                            @bind-Value="_employee.ContactDetails.Phone" />
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Address</legend>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                    for="AddressUpdate">
                                Address
                            </label>
                            <div class="col-sm-8">
                                <InputText type="text"
                                            class="form-control"
                                            id="AddressUpdate"
                                            @bind-Value="_employee.Location.Address" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                    for="SuburbUpdate">
                                Suburb
                            </label>
                            <div class="col-sm-8">
                                <InputText type="text"
                                            class="form-control"
                                            id="SuburbUpdate"
                                            @bind-Value="_employee.Location.Suburb" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                    for="StateUpdate">
                                State
                            </label>
                            <div class="col-sm-8">
                                <InputText type="text"
                                            class="form-control"
                                            id="StateUpdate"
                                            @bind-Value="_employee.Location.State" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                    for="PostcodeUpdate">
                                Postcode
                            </label>
                            <div class="col-sm-8">
                                <InputText type="text"
                                            class="form-control"
                                            id="PostcodeUpdate"
                                            @bind-Value="_employee.Location.Postcode" />
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Status</legend>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                    for="IsActiveUpdate">
                                Active
                            </label>
                            <div class="col-sm-8 d-flex flex-row align-items-center">
                                <div class="form-check form-switch">
                                    <InputCheckbox class="form-check-input"
                                                    type="checkbox"
                                                    role="switch"
                                                    id="IsActiveUpdate"
                                                    @bind-Value="_employee.IsActive" />
                                </div>

                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-4">
                    @if (_displayValidationErrorMessages)
                    {
                        <div class="row mb-3">
                            <div class="col">
                                <label>Validation Messages: </label>
                                <ValidationSummary />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </EditForm>
    </Body>
    <Footer>
        <button type="button"
                class="btn btn-light btn-rounded"
                data-dismiss="modal"
                @onclick="() => CloseModalUpdateAsync()">
            Cancel
        </button>
        <button type="submit"
                form="FormUpdateEmploye"
                class="btn btn-info btn-rounded text-white">
            Update
        </button>
    </Footer>
</Modal>
