@using HealthCareApp.Components.Modal
@using HealthCareApp.Settings.Theme

<Modal @ref="ModalAdd"
        Theme="Theme.Employee"
        Size="ModalSize.lg">
    <Title>Add new employee</Title>
    <Body>
        <EditForm Model="@employee"
                  OnValidSubmit="@HandleValidSubmitAsync"
                  OnInvalidSubmit="@HandleInvalidSubmitAsync"
                  autocomplete="off"
                  id="FormAddEmploye">
            <ObjectGraphDataAnnotationsValidator />
            <div class="row">
                <div class="col-sm-8">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                               for="EmployeeFirstName">
                            First Name
                        </label>
                        <div class="col-sm-8">
                            <InputText class="form-control"
                                       id="EmployeeFirstName"
                                       @bind-Value="employee.EmployeeFirstName" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                               for="EmployeeLastName">
                            Last Name
                        </label>
                        <div class="col-sm-8">
                            <InputText class="form-control"
                                       id="EmployeeLastName"
                                       @bind-Value="employee.EmployeeLastName" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                               for="EmployeeUsername">
                            Username
                        </label>
                        <div class="col-sm-8">
                            <InputText class="form-control"
                                       id="EmployeeUsername"
                                       @bind-Value="employee.EmployeeUsername" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                               for="EmployeePassword">
                            Password
                        </label>
                        <div class="col-sm-8">
                            <InputText type="password"
                                       class="form-control"
                                       id="EmployeePassword"
                                       @bind-Value="employee.EmployeePassword" />
                        </div>
                    </div>

                    <fieldset>
                        <legend>Contact details</legend>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="Email">
                                Email
                            </label>
                            <div class="col-sm-8">
                                <InputText type="email"
                                           class="form-control"
                                           id="Email"
                                           @bind-Value="employee.ContactDetails.Email" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="Mobile">
                                Mobile
                            </label>
                            <div class="col-sm-8">
                                <InputText type="text"
                                           class="form-control"
                                           id="Mobile"
                                           @bind-Value="employee.ContactDetails.Mobile" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="Phone">
                                Phone
                            </label>
                            <div class="col-sm-8">
                                <InputText type="text"
                                           class="form-control"
                                           id="Phone"
                                           @bind-Value="employee.ContactDetails.Phone" />
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Address</legend>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="Address">
                                Address
                            </label>
                            <div class="col-sm-8">
                                <InputText type="text"
                                           class="form-control"
                                           id="Address"
                                           @bind-Value="employee.Location.Address" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="Suburb">
                                Suburb
                            </label>
                            <div class="col-sm-8">
                                <InputText type="text"
                                           class="form-control"
                                           id="Suburb"
                                           @bind-Value="employee.Location.Suburb" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="State">
                                State
                            </label>
                            <div class="col-sm-8">
                                <InputText type="text"
                                           class="form-control"
                                           id="State"
                                           @bind-Value="employee.Location.State" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="Postcode">
                                Postcode
                            </label>
                            <div class="col-sm-8">
                                <InputText type="text"
                                           class="form-control"
                                           id="Postcode"
                                           @bind-Value="employee.Location.Postcode" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-4">
                    @if (DisplayValidationErrorMessages)
                    {
                        <div class="row mb-3">
                            <div class="col">
                                <label>Validation Messages: </label>
                                <ValidationSummary />
                            </div>
                        </div>
                    }
                </div>
            </div>
</EditForm>
        </Body>
    <Footer>
        <button type="button"
                class="btn btn-light btn-rounded"
                data-dismiss="modal"
                @onclick="() => CloseModalAddAsync()">
            Cancel
        </button>
        <button type="submit"
                form="FormAddEmploye"
                class="btn btn-primary btn-rounded">
            Save
        </button>
    </Footer>
</Modal>
