@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div class="container-lg py-5">
    <div class="row">
        <div class="col-12">
            <h1>Manage your account</h1>

            <div>
                <h2>Change your account settings</h2>
                <hr />
                <div class="card border-light">
                    <div class="row p-3">
                        <div class="col-md-3">
                            <partial name="_ManageNav" />
                        </div>
                        <div class="col-md-2 d-none d-md-block">
                            <div class="d-flex h-100 justify-content-center">
                                <div class="vr"></div>
                            </div>
                        </div>
                        <div class="col-md-2 d-md-none">
                            <hr />
                        </div>
                        <div class="col-md-7">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
