@page "/playground/card"
@using HealthCareApp.Components.Card
@using HealthCareApp.Components.Page

<PageWrapper>
    <PageHeader>
        <PageHeaderTitle Title="Card"
                         ParentLink="/playground"
                         ParentTitle="Playground" />
        <PageMenu>
        </PageMenu>
    </PageHeader>
    <PageBody>
        <CardWrapper Styles="p-2">
            <CardView Link="/">
                <CardViewHeader Title="Lorem ipsum" ImageUrl="https://burst.shopifycdn.com/photos/doctor-looking-at-clipboard.jpg?width=925&exif=1&iptc=1" />
                <CardViewBody>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </CardViewBody>
            </CardView>
            <CardView>
                <CardViewHeader Title="Lorem ipsum" ImageUrl="https://burst.shopifycdn.com/photos/newborn-baby-feet.jpg?width=925&exif=1&iptc=1" />
                <CardViewBody>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </CardViewBody>
                <CardViewFooter>
                    <button class="btn btn-link btn-rounded">
                        Cancel
                    </button>
                    <button class="btn btn-outline-primary btn-rounded">
                        Add patient
                    </button>
                </CardViewFooter>
            </CardView>
        </CardWrapper>
    </PageBody>
    <PageFooter>
    </PageFooter>
</PageWrapper>
