@page "/playground/spinner"
@using HealthCareApp.Components.Page
@using HealthCareApp.Components.Spinner
@using HealthCareApp.Settings.Enum

<PageWrapper>
    <PageHeader>
        <PageHeaderTitle Title="Spinner"
                         ParentLink="/playground"
                         ParentTitle="Playground" />
        <PageMenu />
    </PageHeader>
    <PageBody>
        <div class="h-100 d-flex flex-row justify-content-evenly align-items-center">
            <div>
                <Spinner Size="Size.Sm" />
            </div>
            <div>
                <Spinner Size="Size.Md" />
            </div>
        </div>
    </PageBody>
</PageWrapper>
