@page "/playground/badge"
@using HealthCareApp.Settings.Enum
@using HealthCareApp.Components.Page
@using HealthCareApp.Components.Badge

<PageWrapper>
    <PageHeader>
        <PageHeaderTitle Title="Badge"
                         ParentLink="/playground"
                         ParentTitle="Playground" />
        <PageMenu />
    </PageHeader>
    <PageBody>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        <h4 class="hca-app-title">How to use</h4>
                        <hr />
                    </p>
                    @foreach (var markupString in _componentMarkupList)
                    {
                        <div>
                            <h5>@markupString.Title</h5>

                            @foreach (var item in markupString.Code)
                            {
                                <p class="highlight p-2">
                                    <code>@item</code>
                                </p>
                            }
                        </div>
                    }
                </div>
                <div class="col markup-background hca-border-radius">
                    <p>
                        <h4 class="text-black-50">Example</h4>
                        <hr />
                    </p>
                    <div class="d-flex flex-column justify-content-evenly align-items-center">
                        <div>
                            <Badge Level="Level.Info" Message="Info message!" />
                            <Badge Level="Level.Success" Message="Success message!" />
                            <Badge Level="Level.Warning" Message="Warning message!" />
                            <Badge Level="Level.Error" Message="Error message!" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </PageBody>
</PageWrapper>
