@page "/tracking-inventory/mops"
@using HealthCareApp.Components.PageV2
@using HealthCareApp.Components.Message
@using HealthCareApp.Components.Toast

<AuthorizeView>
    <Authorized>

        <PageWrapper>

            <PageHeaderView>
                <PageHeaderWrapper Styles="">
                    <PageHeaderTitle Title="Mops"
                                     ParentTitle="Tracking inventory"
                                     ParentLink="/tracking-inventory" />
                    <PageHeaderMenu>
                    </PageHeaderMenu>
                </PageHeaderWrapper>
            </PageHeaderView>

            <PageBodyView>
                <PageBodyWrapper Styles="pt-3">
                    <div class="container">
                        <div class="row align-items-center sticky-top hca-bg-default">
                            <div class="col-sm-8 bg-opacity-25 hca-bg-label-scan p-2 @(_isInputFocus ? "bg-info" : "bg-warning")">
                                <input type="text" class="form-control"
                                       placeholder="Scan label..."
                                       autocomplete="off"
                                       id="Barcode"
                                       @bind="_barcode"
                                       @onfocusin="SetInputFocusInAsync"
                                       @onfocusout="SetInputFocusOutAsync"
                                       @oninput="OnValueChanged" />

                            </div>
                            <div class="col-auto">
                                <button type="button"
                                        class="btn btn-info btn-rounded text-white w-120"
                                        @onclick="() => OpenModalStartAsync()"
                                        disabled="@_isDisabled">
                                    @(_isLoading ? "Searching..." : "Start")
                                </button>
                            </div>
                            <div class="col-auto">
                                <button type="button"
                                        class="btn btn-light btn-rounded "
                                        @onclick="() => OpenModalDateRangeAsync()">
                                    <i class="bi bi-calendar-range"></i>
                                    Date range
                                </button>
                            </div>
                        </div>
                        <div class="row hca-data-list-body">
                            <div class="col-auto">
                                Data list here...
                            </div>
                        </div>

                    </div>
                </PageBodyWrapper>
            </PageBodyView>

            <PageFooterView />

        </PageWrapper>
        <TrackingInventoryMopModalStart @ref="_trackingInventoryMopModalStart" />
        <Toast />
    </Authorized>

    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>

</AuthorizeView>
