@using HealthCareApp.Components.Modal;
@using HealthCareApp.Settings.Enum;
@using HealthCareApp.Pages.BarcodePage;

<Modal @ref="_modalPickup"
       Size="Size.lg">
    <Title>Add new pickup time</Title>
    <Body>
        <EditForm Model="@_trackingInventoryMop"
                  OnValidSubmit="@HandleValidSubmitAsync"
                  OnInvalidSubmit="@HandleInvalidSubmitAsync"
                  autocomplete="off"
                  id="FormPickupTrackingInventoryMop">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-lg-7 col-sm-12">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                               for="Barcode">
                            Barcode
                        </label>
                        <div class="col-sm-8">
                            <InputText class="form-control"
                                       id="Barcode"
                                       disabled="true"
                                       @bind-Value="_labelMopDto.Barcode" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                               for="PickupTime">
                            Pickup time
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control"
                                   id="PickupTime"
                                   type="time"
                                   @bind-value="_trackingInventoryMop.PickupTime" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                               for="CleanMopQuantity">
                            Clean mops
                        </label>
                        <div class="col-sm-8">
                            <InputNumber class="form-control"
                                         id="CleanMopQuantity"
                                         min="0"
                                         max="@_labelMopDto.Quantity"
                                         @bind-Value="_trackingInventoryMop.CleanMopQuantity" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12">
                    <ComponentMopDetails Model="_labelMopDto"
                                FieldsetStyle="markup-background rounded p-2"
                                Icon="bi bi-upc-scan" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @if (_displayValidationErrorMessages)
                    {
                        <div class="row mb-3">
                            <div class="col">
                                <label>Validation Messages: </label>
                                <ValidationSummary />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </EditForm>
    </Body>
    <Footer>
        <button type="button"
                class="btn btn-light btn-rounded"
                data-dismiss="modal"
                @onclick="() => CloseModalPickupAsync()">
            Cancel
        </button>
        <button type="submit"
                form="FormPickupTrackingInventoryMop"
                class="btn btn-info btn-rounded text-white">
            Save
        </button>
    </Footer>
</Modal>
