@page "/departments"
@using HealthCareApp.Components.Page
@using HealthCareApp.Components.Modal
@using HealthCareApp.Settings.Theme

<PageWrapper>
    <PageHeader>
        <PageTitle Title="Departments" Theme="Theme.Department"></PageTitle>
        <PageMenu>
            <button type="button"
                    class="btn btn-light btn-rounded btn-icon"
                    title="Search department">
                <i class="bi bi-search"></i>
            </button>
            <button type="button"
                    class="btn btn-info btn-rounded btn-icon"
                    title="Add new department"
                    @onclick="() => OpenModalAddDepartmentAsync()">
                <i class="bi bi-plus-lg"></i>
            </button>
        </PageMenu>
    </PageHeader>
    <PageBody>
        Content here...
    </PageBody>
    <PageFooter></PageFooter>
</PageWrapper>
<Modal @ref="modalAddDepartment"
       Theme="Theme.Department">
    <Title>Add new department</Title>
    <Body>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Omnes enim iucundum motum, quo sensus hilaretur.
            <i>Quis istud possit, inquit, negare?</i>
            <mark>Ego vero isti, inquam, permitto.</mark> Duo Reges: constructio interrete.
        </p>
    </Body>
    <Footer>
        <button type="button" class="btn btn-light btn-rounded" data-dismiss="modal" @onclick="() => CloseModalAddDepartmentAsync()">Cancel</button>
        <button type="button" class="btn btn-outline-primary btn-rounded">Save</button>
    </Footer>
</Modal>

@code {

    private Modal modalAddDepartment { get; set; }
    private Guid modalAddDepartmentTarget { get; set; }

    [Parameter]
    public Guid DepartmentId { get; set; } = Guid.Empty;

    private async Task OpenModalAddDepartmentAsync()
    {
        modalAddDepartmentTarget = Guid.NewGuid();
        await Task.FromResult(modalAddDepartment.Open(modalAddDepartmentTarget));
    }

    private async Task CloseModalAddDepartmentAsync()
    {
        await Task.FromResult(modalAddDepartment.Close(modalAddDepartmentTarget));
    }

}
