@page "/employees"
@page "/employees/{employeeId:guid}"
@using HealthCareApp.Components.Page

<PageWrapper>
    <PageHeader>
        <PageTitle Title="Employees"></PageTitle>
        <PageMenu>
            <button type="button" class="btn btn-light btn-rounded" title="Search">
                <i class="bi bi-search"></i>
                Search
            </button>
            <button type="button" class="btn btn-outline-primary btn-rounded" title="Add new employee">
                <i class="bi bi-plus-lg"></i>
                New employee
            </button>
        </PageMenu>
    </PageHeader>
    <PageBody>
        Content here...
    </PageBody>
    <PageFooter></PageFooter>
</PageWrapper>

@code {
    [Parameter]
    public Guid EmployeeId { get; set; } = Guid.Empty;

}
