@page "/"
@using HealthCareApp.Components.Message
@using HealthCareApp.Components.Card
@using HealthCareApp.Components.Page
@using HealthCareApp.Settings.Theme

<AuthorizeView>
    <Authorized>
        <PageWrapper>
            <PageHeader>
                <PageHeaderTitle Title="Dashboard"></PageHeaderTitle>
            </PageHeader>
            <PageBody Styles="p-2">
                <h4 class="hca-app-title">Quick links</h4>
                <CardWrapper>
                    <CardView Link="/employees">
                        <CardViewHeader Title="Employees" Icon="bi bi-people" IconTheme="Theme.Employee" />
                        <CardViewBody />
                    </CardView>

                    <CardView Link="/departments">
                        <CardViewHeader Title="Departments" Icon="bi bi-columns-gap" IconTheme="Theme.Department" />
                        <CardViewBody />
                    </CardView>
                    <CardView Link="/patients">
                        <CardViewHeader Title="Patients" Icon="bi bi-person-lines-fill" IconTheme="Theme.Patient" />
                        <CardViewBody />
                    </CardView>
                    <CardView Link="/suppliers">
                        <CardViewHeader Title="Suppliers" Icon="bi bi-boxes" IconTheme="Theme.Supplier" />
                        <CardViewBody />
                    </CardView>
                </CardWrapper>
                <hr>
                <h4 class="hca-app-title">What's happening</h4>
            </PageBody>
            <PageFooter></PageFooter>
        </PageWrapper>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>
