@page "/playground"
@using HealthCareApp.Components.Card
@using HealthCareApp.Components.Page
@using HealthCareApp.Data
@using CustomerLibrary
@using ContactDetailsLibrary
@using LocationLibrary
@using SupplierLibrary
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor httpContextAccessor
@inject CustomerService customerService
@inject UserService userService
@inject SupplierService supplierService

<PageWrapper>
    <PageHeader>
        <PageTitle></PageTitle>
        <PageMenu>
            <button type="button" class="btn btn-outline-danger">
                <i class="bi-trash"></i>
            </button>

            <button type="button" class="btn btn-outline-primary">
                <i class="bi-plus-lg"></i>
            </button>
            <button type="button" class="btn btn-outline-info">
                <i class="bi-search"></i>
            </button>
            <button type="button" class="btn btn-outline-danger">
                <i class="bi-trash"></i>
                Delete
            </button>

            <button type="button" class="btn btn-outline-primary">
                <i class="bi-plus-lg"></i>
                Save
            </button>
            <button type="button" class="btn btn-outline-info">
                <i class="bi-search"></i>
                Search
            </button>
        </PageMenu>
    </PageHeader>
    <PageBody>
        <CardWrapper>
            <CardView Link="/">
                <CardViewHeader Title="Lorem ipsum" ImageUrl="https://burst.shopifycdn.com/photos/doctor-looking-at-clipboard.jpg?width=925&exif=1&iptc=1" />
                <CardViewBody>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </CardViewBody>
            </CardView>
            <CardView Link="/">
                <CardViewHeader Title="Lorem ipsum" ImageUrl="https://burst.shopifycdn.com/photos/flat-cardboard-boxes.jpg?width=925&exif=1&iptc=1" />
                <CardViewBody>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </CardViewBody>
            </CardView>
            <CardView>
                <CardViewHeader Title="Lorem ipsum" ImageUrl="https://burst.shopifycdn.com/photos/flat-cardboard-boxes.jpg?width=925&exif=1&iptc=1" />
                <CardViewBody>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </CardViewBody>
                <CardViewFooter>
                    <button class="btn btn-primary"
                            @onclick="AddSupplier">
                        Add supplier
                    </button>
                </CardViewFooter>
            </CardView>
            <CardView>
                <CardViewHeader Title="Lorem ipsum" ImageUrl="https://burst.shopifycdn.com/photos/newborn-baby-feet.jpg?width=925&exif=1&iptc=1" />
                <CardViewBody>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </CardViewBody>
                <CardViewFooter>
                    <button class="btn btn-default">
                        Cancel
                    </button>
                    <button class="btn btn-primary"
                            @onclick="AddCustomer">
                        Add patient
                    </button>
                </CardViewFooter>
            </CardView>
        </CardWrapper>
        <CardWrapper>
            <CardView Link="/">
                <CardViewHeader Title="Lorem ipsum" ImageUrl="https://burst.shopifycdn.com/photos/doctor-looking-at-clipboard.jpg?width=925&exif=1&iptc=1" />
                <CardViewBody>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </CardViewBody>
            </CardView>
            <CardView Link="/">
                <CardViewHeader Title="Lorem ipsum" ImageUrl="https://burst.shopifycdn.com/photos/flat-cardboard-boxes.jpg?width=925&exif=1&iptc=1" />
                <CardViewBody>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </CardViewBody>
            </CardView>
            <CardView>
                <CardViewHeader Title="Lorem ipsum" ImageUrl="https://burst.shopifycdn.com/photos/newborn-baby-feet.jpg?width=925&exif=1&iptc=1" />
                <CardViewBody>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </CardViewBody>
                <CardViewFooter>
                    <button class="btn btn-default">
                        Cancel
                    </button>
                    <button class="btn btn-primary"
                            @onclick="AddCustomer">
                        Add patient
                    </button>
                </CardViewFooter>
            </CardView>
        </CardWrapper>
        <CardWrapper>
            <CardView>
                <CardViewHeader Title="Lorem ipsum" ImageUrl="https://burst.shopifycdn.com/photos/newborn-baby-feet.jpg?width=925&exif=1&iptc=1" />
                <CardViewBody>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </CardViewBody>
            </CardView>
            <CardView>
                <CardViewHeader Title="Lorem ipsum" ImageUrl="https://burst.shopifycdn.com/photos/flat-cardboard-boxes.jpg?width=925&exif=1&iptc=1" />
                <CardViewBody>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </CardViewBody>
            </CardView>
        </CardWrapper>
    </PageBody>
    <PageFooter></PageFooter>
</PageWrapper>

@code{

    public Customer newCustomer = new Customer();

    public Supplier newSupplier = new Supplier();

    private void AddNewCustomerContactDetails()
    {
        List<ContactDetails> _customerContactDetails = new List<ContactDetails>();

        ContactDetails contactDetails1 = new ContactDetails()
        {
            Email = RandomString() + "customer@email.com",
            Mobile = "0101010101",
            Phone = "0202020202",
        };

        ContactDetails contactDetails2 = new ContactDetails()
        {
            Email = RandomString() + "customer@email.com",
            Mobile = "0101010101",
            Phone = "0202020202",
        };

        _customerContactDetails.Add(contactDetails1);
        _customerContactDetails.Add(contactDetails2);

        newCustomer.ContactDetails = _customerContactDetails;
    }

    private void AddNewCustomerLocations()
    {
        List<Location> _customerLocations = new List<Location>();

        Location location1 = new Location()
        {
            Address = "Customer location 1 " + RandomString(),
            Lat = (float)01.12,
            Lng = (float)01.12,
            Postcode = "3027",
            State = "VIC",
            Suburb = "Williams Landing",
        };

        Location location2 = new Location()
        {
            Address = "Customer location 2 " + RandomString(),
            Lat = (float)01.12,
            Lng = (float)01.12,
            Postcode = "3027",
            State = "VIC",
            Suburb = "Williams Landing",
        };

        _customerLocations.Add(location1);
        _customerLocations.Add(location2);

        newCustomer.Location = _customerLocations;
    }

    private void AddNewSupplierContactDetails()
    {
        List<ContactDetails> _supplierContactDetails = new List<ContactDetails>();

        ContactDetails contactDetails1 = new ContactDetails()
        {
            Email = RandomString() + "supplier@email.com",
            Mobile = "0101010101",
            Phone = "0202020202",
        };

        ContactDetails contactDetails2 = new ContactDetails()
        {
            Email = RandomString() + "supplier@email.com",
            Mobile = "0101010101",
            Phone = "0202020202",
        };

        _supplierContactDetails.Add(contactDetails1);
        _supplierContactDetails.Add(contactDetails2);

        newSupplier.ContactDetails = _supplierContactDetails;
    }

    private void AddNewSupplierLocations()
    {
        List<Location> _supplierLocations = new List<Location>();

        Location location1 = new Location()
        {
            Address = "Supplier location 1 " + RandomString(),
            Lat = (float)01.12,
            Lng = (float)01.12,
            Postcode = "3000",
            State = "VIC",
            Suburb = "Parkville",
        };

        Location location2 = new Location()
        {
            Address = "Supplier location 2 " + RandomString(),
            Lat = (float)01.12,
            Lng = (float)01.12,
            Postcode = "3000",
            State = "VIC",
            Suburb = "Parkville",
        };

        _supplierLocations.Add(location1);
        _supplierLocations.Add(location2);

        newSupplier.Location = _supplierLocations;
    }

    private async Task AddCustomer()
    {
        newCustomer = new Customer()
        {
            CustomerFirstName = "Customer firstname " + RandomString(),
            CustomerLastName = "Customer lastname " + RandomString(),
            CustomerDOB = new DateTime(1985, 05, 28),
        };
        AddNewCustomerContactDetails();
        AddNewCustomerLocations();
        await customerService.AddCustomerAsync(newCustomer);
    }

    private async Task AddSupplier()
    {
        newSupplier = new Supplier()
        {
            SupplierName = "Supplier name " + RandomString(),
            SupplierABN = "012345678910",
        };
        AddNewSupplierContactDetails();
        AddNewSupplierLocations();
        await supplierService.AddSupplierAsync(newSupplier);

    }

    private string RandomString()
    {
        var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var numbers = "0123456789";
        var stringChars = new char[8];
        var random = new Random();

        for (int i = 0; i < 2; i++)
        {
            stringChars[i] = chars[random.Next(chars.Length)];
        }
        for (int i = 2; i < 6; i++)
        {
            stringChars[i] = numbers[random.Next(numbers.Length)];
        }
        for (int i = 6; i < 8; i++)
        {
            stringChars[i] = chars[random.Next(chars.Length)];
        }

        var finalString = new String(stringChars);
        return finalString;
    }

}
