@page "/playground"
@using HealthCareApp.Components.Message
@using HealthCareApp.Components.Card
@using HealthCareApp.Components.Page
@using HealthCareApp.Data
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor httpContextAccessor
@inject UserService userService

<PageWrapper>
    <PageHeader>
        <PageHeaderTitle Title="Playground"></PageHeaderTitle>
        <PageMenu />
    </PageHeader>
    <PageBody Styles="p-2">
        <h3 class="text-center py-4 lead display-6">List of components used in the HealthCare App</h3>
        <CardWrapper>
            <CardView Link="/playground/card">
                <CardViewHeader Icon="bi bi-card-heading" />
                <CardViewBody Styles="text-center">
                    <p>UI layout for <b>Cards</b></p>
                </CardViewBody>
            </CardView>
            <CardView Link="/playground/page-v2">
                <CardViewHeader Icon="bi bi-layout-text-window-reverse" />
                <CardViewBody Styles="text-center">
                    <p>UI layout for <b>Page</b><sup class="badge bg-info">New</sup></p>
                </CardViewBody>
            </CardView>
            <CardView Link="/playground/modal">
                <CardViewHeader Icon="bi bi-window" />
                <CardViewBody Styles="text-center">
                    <p>UI layout for <b>Modals</b></p>
                </CardViewBody>
            </CardView>
            <CardView Link="/playground/toast">
                <CardViewHeader Icon="bi bi-collection" />
                <CardViewBody Styles="text-center">
                    <p>UI layout for <b>Toast</b></p>
                </CardViewBody>
            </CardView>
            <CardView Link="/playground/badge">
                <CardViewHeader Icon="bi bi-usb-c" />
                <CardViewBody Styles="text-center">
                    <p>UI layout for <b>Badge</b></p>
                </CardViewBody>
            </CardView>
            <CardView Link="/playground/spinner">
                <CardViewHeader Icon="bi bi-arrow-clockwise" />
                <CardViewBody Styles="text-center">
                    <p>UI layout for <b>Spinner</b></p>
                </CardViewBody>
            </CardView>
        </CardWrapper>
    </PageBody>
    <PageFooter />
</PageWrapper>
