@page "/playgrounds"
@using HealthCareApp.Components.Card
@using HealthCareApp.Components.Page
@using HealthCareApp.Data
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor httpContextAccessor
@inject CustomerService customerService
@inject UserService userService
@inject SupplierService supplierService

<PageWrapper>
    <PageHeader>
        <PageTitle Title="Playgrounds"></PageTitle>
        <PageMenu />
    </PageHeader>
    <PageBody Styles="p-2">
        <h3 class="text-center hca-app-title py-4">List of components used in the Healthcare App</h3>
        <CardWrapper>
            <CardView Link="/playground/card">
                <CardViewHeader Icon="bi bi-card-heading" />
                <CardViewBody>
                    <p>UI layout for <b>Cards</b>.</p>
                </CardViewBody>
            </CardView>
            <CardView Link="/playground/page">
                <CardViewHeader Icon="bi bi-layout-text-window-reverse" />
                <CardViewBody>
                    <p>UI layout for <b>Pages</b>.</p>
                </CardViewBody>
            </CardView>
            <CardView Link="/playground/modal">
                <CardViewHeader Icon="bi bi-window" />
                <CardViewBody>
                    <p>UI layout for <b>Modals</b>.</p>
                </CardViewBody>
            </CardView>
            <CardView Link="/playground/toast">
                <CardViewHeader Icon="bi bi-collection" />
                <CardViewBody>
                    <p>UI layout for <b>Toast</b>.</p>
                </CardViewBody>
            </CardView>
            <CardView Link="/playground/badge">
                <CardViewHeader Icon="bi bi-usb-c" />
                <CardViewBody>
                    <p>UI layout for <b>Badge</b>.</p>
                </CardViewBody>
            </CardView>
        </CardWrapper>
    </PageBody>
    <PageFooter />
</PageWrapper>

@code{

    @*public Customer newCustomer = new Customer();

    public Supplier newSupplier = new Supplier();

    private void AddNewCustomerContactDetails()
    {
        List<ContactDetails> _customerContactDetails = new List<ContactDetails>();

        ContactDetails contactDetails1 = new ContactDetails()
        {
            Email = RandomString() + "customer@email.com",
            Mobile = "0101010101",
            Phone = "0202020202",
        };

        ContactDetails contactDetails2 = new ContactDetails()
        {
            Email = RandomString() + "customer@email.com",
            Mobile = "0101010101",
            Phone = "0202020202",
        };

        _customerContactDetails.Add(contactDetails1);
        _customerContactDetails.Add(contactDetails2);

        newCustomer.ContactDetails = _customerContactDetails;
    }

    private void AddNewCustomerLocations()
    {
        List<Location> _customerLocations = new List<Location>();

        Location location1 = new Location()
        {
            Address = "Customer location 1 " + RandomString(),
            Lat = (float)01.12,
            Lng = (float)01.12,
            Postcode = "3027",
            State = "VIC",
            Suburb = "Williams Landing",
        };

        Location location2 = new Location()
        {
            Address = "Customer location 2 " + RandomString(),
            Lat = (float)01.12,
            Lng = (float)01.12,
            Postcode = "3027",
            State = "VIC",
            Suburb = "Williams Landing",
        };

        _customerLocations.Add(location1);
        _customerLocations.Add(location2);

        newCustomer.Location = _customerLocations;
    }

    private void AddNewSupplierContactDetails()
    {
        List<ContactDetails> _supplierContactDetails = new List<ContactDetails>();

        ContactDetails contactDetails1 = new ContactDetails()
        {
            Email = RandomString() + "supplier@email.com",
            Mobile = "0101010101",
            Phone = "0202020202",
        };

        ContactDetails contactDetails2 = new ContactDetails()
        {
            Email = RandomString() + "supplier@email.com",
            Mobile = "0101010101",
            Phone = "0202020202",
        };

        _supplierContactDetails.Add(contactDetails1);
        _supplierContactDetails.Add(contactDetails2);

        newSupplier.ContactDetails = _supplierContactDetails;
    }

    private void AddNewSupplierLocations()
    {
        List<Location> _supplierLocations = new List<Location>();

        Location location1 = new Location()
        {
            Address = "Supplier location 1 " + RandomString(),
            Lat = (float)01.12,
            Lng = (float)01.12,
            Postcode = "3000",
            State = "VIC",
            Suburb = "Parkville",
        };

        Location location2 = new Location()
        {
            Address = "Supplier location 2 " + RandomString(),
            Lat = (float)01.12,
            Lng = (float)01.12,
            Postcode = "3000",
            State = "VIC",
            Suburb = "Parkville",
        };

        _supplierLocations.Add(location1);
        _supplierLocations.Add(location2);

        newSupplier.Location = _supplierLocations;
    }

    private async Task AddCustomer()
    {
        newCustomer = new Customer()
        {
            CustomerFirstName = "Customer firstname " + RandomString(),
            CustomerLastName = "Customer lastname " + RandomString(),
            CustomerDOB = new DateTime(1985, 05, 28),
        };
        AddNewCustomerContactDetails();
        AddNewCustomerLocations();
        await customerService.AddCustomerAsync(newCustomer);
    }

    private async Task AddSupplier()
    {
        newSupplier = new Supplier()
        {
            SupplierName = "Supplier name " + RandomString(),
            SupplierABN = "012345678910",
        };
        AddNewSupplierContactDetails();
        AddNewSupplierLocations();
        await supplierService.AddSupplierAsync(newSupplier);

    }

    private string RandomString()
    {
        var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var numbers = "0123456789";
        var stringChars = new char[8];
        var random = new Random();

        for (int i = 0; i < 2; i++)
        {
            stringChars[i] = chars[random.Next(chars.Length)];
        }
        for (int i = 2; i < 6; i++)
        {
            stringChars[i] = numbers[random.Next(numbers.Length)];
        }
        for (int i = 6; i < 8; i++)
        {
            stringChars[i] = chars[random.Next(chars.Length)];
        }

        var finalString = new String(stringChars);
        return finalString;
    }*@

}
