@implements IAsyncDisposable
@inject IJSRuntime JS

<span class="text-info"
      data-bs-toggle="tooltip"
      data-bs-placement="@Position"
      data-bs-custom-class="@BackgroundColor"
      title="@Title">
    <i class="bi bi-info-square"></i>
</span>
