.hca-badge {
    padding: 2px 10px;
    border-radius: 0.8rem;
    font-size: 0.85rem;
}
.hca-badge-bg-info {
    background: hsl(190deg 100% 60% / 45%);
    color: hsl(190deg 69% 20%);
}
.hca-badge-bg-success {
    background: hsl(152deg 100% 60% / 45%);
    color: hsl(152deg 69% 20%);
}
.hca-badge-bg-warning {
    background-color: hsl(45deg 100% 60% / 45%);
    color: hsl(45deg 69% 20%);
}
.hca-badge-bg-danger {
    background-color: hsl(354deg 100% 60% / 45%);
    color: hsl(354deg 69% 20%);
}
