@using HealthCareApp.Components.Modal;
@using HealthCareApp.Settings.Enum;

<Modal @ref="_modalUpdate"
       Size="Size.lg">
    <Title>Update department</Title>
    <Body>
        <EditForm Model="@_department"
                  OnValidSubmit="@HandleValidSubmitAsync"
                  OnInvalidSubmit="@HandleInvalidSubmitAsync"
                  autocomplete="off"
                  id="FormUpdateDepartment">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-sm-8">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                               for="Name">
                            Department Name
                        </label>
                        <div class="col-sm-8">
                            <InputText class="form-control"
                                       id="Name"
                                       @bind-Value="_department.Name" />
                        </div>
                    </div>
                    <fieldset>
                        <legend>Status</legend>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="IsActiveUpdate">
                                Active
                            </label>
                            <div class="col-sm-8 d-flex flex-row align-items-center">
                                <div class="form-check form-switch">
                                    <InputCheckbox class="form-check-input"
                                                   type="checkbox"
                                                   role="switch"
                                                   id="IsActiveUpdate"
                                                   @bind-Value="_department.IsActive" />
                                </div>

                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-4">
                    @if (_displayValidationErrorMessages)
                    {
                        <div class="row mb-3">
                            <div class="col">
                                <label>Validation Messages: </label>
                                <ValidationSummary />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </EditForm>
    </Body>
    <Footer>
        <button type="button"
                class="btn btn-light btn-rounded"
                data-dismiss="modal"
                @onclick="() => CloseModalUpdateAsync()">
            Cancel
        </button>
        <button type="submit"
                form="FormUpdateDepartment"
                class="btn btn-info btn-rounded text-white">
            Save
        </button>
    </Footer>
</Modal>
