<div class="offcanvas offcanvas-@Position flex-grow-1" id="@Id" aria-labelledby="@LabelId" data-bs-scroll="true">
    <div class="offcanvas-header px-4 pb-0">
        <h5 class="offcanvas-title" id="@LabelId">HealthCare</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#@Id"></button>
    </div>

    <div class="offcanvas-body p-4 pt-0">
        @ChildContent
    </div>
</div>
