<div class="modal fade @ModalClass"
         tabindex="-1"
         role="dialog"
         style="display:@ModalStyleDisplay;"
         id="@ModalId"
    >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-@Size"
            data-backdrop="static"
            role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="hca-@TitleTheme-title modal-title">
                    @Title
                </h5>
                <button class="btn-close"
                        type="button"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        @onclick="() => Close(ModalId)">
                </button>
            </div>
            <div class="modal-body">
                @Body
            </div>
            <div class="modal-footer">
                @Footer
            </div>
        </div>
    </div>
</div>
@if (@ShowBackdrop)
{
    <div class="modal-backdrop fade @ModalClass" style="display: @ModalStyleDisplay;"></div>
}
