@using HealthCareApp.Components.CardV3

<CardView>
    <CardMiddle>
        <div class="float-end">
            <i class="bi bi-person-check display-6 text-success"></i>
        </div>
        <h6 class="text-uppercase">
            Active users
        </h6>
        <h2 class="my-2 pt-4 text-muted fw-light">@_activeUsers</h2>
    </CardMiddle>
</CardView>
