@page "/dashboard";
@using HealthCareApp.Components.Message;
@using HealthCareApp.Components.CardV3;
@using HealthCareApp.Components.PageV3;
@using HealthCareApp.Components.Breadcrumb;
@using HealthCareApp.Components.Chart.MopUsage;

<div class="container-lg">
    <AuthorizeView>
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <PageTopTitle Title="Dashboard" />
                        <Breadcrumb AppPageLink="@_appURL.Dashboard" />
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row justify-content-center g-3">
                            <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                                <ActiveUsers />
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                                <ChartMopUsage DateTimeRange="@_dateTimeRange" />
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
