@page "/playground/modal"
@using HealthCareApp.Components.Page
@using HealthCareApp.Components.Card
@using HealthCareApp.Components.Modal

<PageWrapper>
    <PageHeader>
        <PageHeaderTitle Title="Component Modal"></PageHeaderTitle>
        <PageMenu />
    </PageHeader>
    <PageBody>
        <CardWrapper>
            <CardView>
                <CardViewHeader Title="Small Modal" Icon="bi bi-window" />
                <CardViewBody>
                    <div class="d-flex justify-content-around align-items-center">
                        <button class="btn btn-outline-secondary btn-rounded"
                                data-target="#modalSmallTarget"
                                @onclick="() => OpenSmallModalAsync()">
                            Open Modal
                        </button>
                    </div>
                </CardViewBody>
            </CardView>
            <CardView>
                <CardViewHeader Title="Medium Modal" Icon="bi bi-window" />
                <CardViewBody>
                    <div class="d-flex justify-content-around align-items-center">
                        <button class="btn btn-outline-info btn-rounded"
                                data-target="#modalMediumTarget"
                                @onclick="() => OpenMediumModalAsync()">
                            Open Modal
                        </button>
                    </div>
                </CardViewBody>
            </CardView>
            <CardView>
                <CardViewHeader Title="Large Modal" Icon="bi bi-window" />
                <CardViewBody>
                    <div class="d-flex justify-content-around align-items-center">
                        <button class="btn btn-outline-primary btn-rounded"
                                data-target="#modalLargeTarget"
                                @onclick="() => OpenLargeModalAsync()">
                            Open Modal
                        </button>
                    </div>
                </CardViewBody>
            </CardView>
        </CardWrapper>
    </PageBody>
    <PageFooter />
</PageWrapper>


<Modal @ref="_modalSmall" Size="ModalSize.sm">
    <Title>Small Modal</Title>
    <Body>
        <h5>This is a small modal!!</h5>
    </Body>
    <Footer>
        <button type="button" class="btn btn-outline-secondary btn-rounded" data-dismiss="modal" @onclick="() => CloseSmallModalAsync()">Close</button>
    </Footer>
</Modal>

<Modal @ref="_modalMedium" Size="ModalSize.md">
    <Title>Medium Modal</Title>
    <Body>
        <h3>This is a medium modal!!</h3>
    </Body>
    <Footer>
        <button type="button" class="btn btn-outline-primary btn-rounded" data-dismiss="modal" @onclick="() => CloseMediumModalAsync()">Close</button>
    </Footer>
</Modal>

<Modal @ref="_modalLarge" Size="ModalSize.lg">
    <Title>Large Modal</Title>
    <Body>
        <h2>This is a large modal!!</h2>
    </Body>
    <Footer>
        <button type="button" class="btn btn-outline-primary btn-rounded" data-dismiss="modal" @onclick="() => CloseLargeModalAsync()">Close</button>
    </Footer>
</Modal>
