@page "/playground/modal"
@using HealthCareApp.Components.Page
@using HealthCareApp.Components.Card
@using HealthCareApp.Components.Modal

<PageWrapper>
    <PageHeader>
        <PageTitle Title="Modal layout"></PageTitle>
        <PageMenu />
    </PageHeader>
    <PageBody>
        <CardWrapper>
            <CardView>
                <CardViewHeader Title="Small Modal" Icon="bi bi-window" />
                <CardViewBody>
                    <div class="d-flex justify-content-around align-items-center">
                        <button class="btn btn-outline-secondary btn-rounded"
                                data-target="#modalSmallTarget"
                                @onclick="() => OpenSmallModalAsync()">
                            Open Modal
                        </button>
                    </div>
                </CardViewBody>
            </CardView>
            <CardView>
                <CardViewHeader Title="Medium Modal" Icon="bi bi-window" />
                <CardViewBody>
                    <div class="d-flex justify-content-around align-items-center">
                        <button class="btn btn-outline-info btn-rounded"
                                data-target="#modalMediumTarget"
                                @onclick="() => OpenMediumModalAsync()">
                            Open Modal
                        </button>
                    </div>
                </CardViewBody>
            </CardView>
            <CardView>
                <CardViewHeader Title="Large Modal" Icon="bi bi-window" />
                <CardViewBody>
                    <div class="d-flex justify-content-around align-items-center">
                        <button class="btn btn-outline-primary btn-rounded"
                                data-target="#modalLargeTarget"
                                @onclick="() => OpenLargeModalAsync()">
                            Open Modal
                        </button>
                    </div>
                </CardViewBody>
            </CardView>
        </CardWrapper>
    </PageBody>
    <PageFooter />
</PageWrapper>


<Modal @ref="modalSmall" Size="ModalSize.sm">
    <Title>Small Modal</Title>
    <Body>
        <h5>This is a small modal!!</h5>
    </Body>
    <Footer>
        <button type="button" class="btn btn-outline-secondary btn-rounded" data-dismiss="modal" @onclick="() => CloseSmallModalAsync()">Close</button>
    </Footer>
</Modal>

<Modal @ref="modalMedium" Size="ModalSize.md">
    <Title>Medium Modal</Title>
    <Body>
        <h3>This is a medium modal!!</h3>
    </Body>
    <Footer>
        <button type="button" class="btn btn-outline-primary btn-rounded" data-dismiss="modal" @onclick="() => CloseMediumModalAsync()">Close</button>
    </Footer>
</Modal>

<Modal @ref="modalLarge" Size="ModalSize.lg">
    <Title>Large Modal</Title>
    <Body>
        <h2>This is a large modal!!</h2>
    </Body>
    <Footer>
        <button type="button" class="btn btn-outline-primary btn-rounded" data-dismiss="modal" @onclick="() => CloseLargeModalAsync()">Close</button>
    </Footer>
</Modal>

@code{

    private Modal modalSmall { get; set; }
    private Modal modalMedium { get; set; }
    private Modal modalLarge { get; set; }

    private Guid modalSmallTarget { get; set; }
    private Guid modalMediumTarget { get; set; }
    private Guid modalLargeTarget { get; set; }

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();

    }

    private async Task OpenSmallModalAsync()
    {
        modalSmallTarget = Guid.NewGuid();
        await Task.FromResult(modalSmall.Open(modalSmallTarget));
    }

    private async Task CloseSmallModalAsync()
    {
        await Task.FromResult(modalSmall.Close(modalSmallTarget));
    }

    private async Task OpenMediumModalAsync()
    {
        modalMediumTarget = Guid.NewGuid();
        await Task.FromResult(modalMedium.Open(modalMediumTarget));
    }

    private async Task CloseMediumModalAsync()
    {
        await Task.FromResult(modalMedium.Close(modalMediumTarget));
    }

    private async Task OpenLargeModalAsync()
    {
        modalLargeTarget = Guid.NewGuid();
        await Task.FromResult(modalLarge.Open(modalLargeTarget));
    }

    private async Task CloseLargeModalAsync()
    {
        await Task.FromResult(modalLarge.Close(modalLargeTarget));
    }

}
