@page "/playground/page-new"

@using HealthCareApp.Components.PageNew;

<PageWrapper>
    <PageHeaderView>
        <PageHeaderWrapper Styles="page-header-background">
            <h1>Page header here...</h1>
        </PageHeaderWrapper>
    </PageHeaderView>





    <PageBodyView>
        <PageBodyWrapper Styles="page-body-background">
            <div class="h-100 d-flex justify-content-center align-items-center">
                Page body here...
            </div>
        </PageBodyWrapper>
    </PageBodyView>






    <PageFooterView>
        <PageFooterWrapper Styles="page-footer-background">
            <span>
                Page footer here...
            </span>
        </PageFooterWrapper>
    </PageFooterView>
</PageWrapper>
