<div class="card-profile">
    <div class="text-center">
        <div class="d-flex m-auto justify-content-center align-items-center rounded-circle avatar-md img-thumbnail" style="width: 80px; height: 80px;">
            <i class="@CardProfileIcon display-5 text-@CardProfileIconColor.ToString()"></i>
        </div>
        <h4 class="mt-3 my-1">@CardProfileTitle</h4>

        <div class="row">
            <div class="col-12">
                @ChildContent
            </div>
        </div>
    </div>
</div>
