@implements IAsyncDisposable
@inject IJSRuntime JS

<span class="text-@TextColor"
   data-bs-container="body"
   data-bs-toggle="popover"
   data-bs-placement="@Position"
   title="@Title"
   data-bs-content="@Content">
    <i class="bi bi-info-square"></i>
</span>
