@page "/tasks";
@using HealthCareApp.Components.PageV3;
@using HealthCareApp.Components.Breadcrumb
@using HealthCareApp.Components.Message;

<div class="container-lg">
    <AuthorizeView>
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <PageTopTitle Title="Tasks" />
                        <Breadcrumb AppPageLink="@_appURL.Tasks" />
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row g-3">
                            <div class="col-sm-12 col-md-6 col-lg-4 d-flex">
                                <UsageHistory />
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 d-flex opacity-50">
                                <TodoList />
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView>
                    <PageBottomWrapper />
                </PageBottomView>

            </PageWrapper>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
