@using HealthCareApp.Components.CardV3

<CardView Styles="flex-fill">
    <CardMiddle>
        <div class="float-end">
            <i class="bi bi-list-task display-6 text-warning"></i>
        </div>
        <h6 class="text-uppercase">
            Todo list
        </h6>

        <div class="list-group py-3">
            <NavLink class="list-group-item list-group-item-action d-flex gap-3 py-3 align-items-center border-white disabled" aria-current="true"
                     href="@_appURL.TasksHistoryMop">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">Marketing</h6>

                    </div>
                </div>
                <i class="bi bi-chevron-right md-icon"></i>
            </NavLink>
            <NavLink class="list-group-item list-group-item-action d-flex gap-3 py-3 align-items-center border-white disabled" aria-current="true"
                     href="@_appURL.TasksHistoryMop">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">Finance</h6>

                    </div>
                </div>
                <i class="bi bi-chevron-right md-icon"></i>
            </NavLink>
        </div>
    </CardMiddle>
</CardView>

