@page "/about"
@using HealthCareApp.Components.Page

<PageWrapper>
    <PageHeader Styles="">
        <PageHeaderTitle Title="About"></PageHeaderTitle>
        <PageMenu>
        </PageMenu>
    </PageHeader>
    <PageBody Styles="">

        <div class="d-flex row flex-lg-row-reverse align-items-center g-0 py-5">
            <div class="col-sm-12 col-lg-6 text-center px-2">
                <img src="/images/hca-profile.jpg" class="img-fluid rounded" alt="Profile" loading="lazy">
            </div>
            <div class="col-lg-6 px-2">
                <h1 class="display-5 mb-3">
                    <NavLink target="_blank" href="https://linkedin.com/in/luis-schneiders/">
                        Luis Schneiders
                        <i class="bi bi-linkedin sm-icon"></i>
                    </NavLink>
                </h1>
                <p class="lead">
                    Luis is a Web Application Developer with experience in developing applications and solving complex business requirements.
                </p>
                <strong>Skills:</strong>
                <ul class="lead">
                    <li>
                        Expert in developing creative, innovative and practical solutions.
                    </li>
                    <li>
                        Strong planning and organising skills.
                    </li>
                    <li>
                        Customer services excellence.
                    </li>
                    <li>
                        Flexibility and adaptability.
                    </li>
                    <li>
                        Resourceful.
                    </li>
                </ul>
                <strong>Specialities:</strong>
                <ul class="lead">
                    <li>
                        Code languages (Javascript, Cobol, C#, ZPL)
                    </li>
                    <li>
                        Frameworks (Express.JS, React.JS, Angular, .NET, Microsoft Blazor)
                    </li>
                    <li>
                        Web (HTML5, CSS3, BEM, Jquery, RxJS, NgRx, Typescript)
                    </li>
                    <li>
                        DB (MySQL, Microsoft SQL Server, MongoDB)
                    </li>
                    <li>
                        Hybrid app development (Ionic, Phonegap, Cordova)
                    </li>
                    <li>
                        eCommerce development (WordPress theme development, Shopify theme development)
                    </li>
                </ul>

            </div>
        </div>

    </PageBody>
    <PageFooter Styles="">
    </PageFooter>
</PageWrapper>
