.page-body {
}
.page-body-background {
    border-right: 1px dashed #f8d3e4;
    border-left: 1px dashed #f8d3e4;
}

@media (min-width: 641px) {
    .page-body {
        overflow: auto;
        height: calc(100vh - 196px);
        display: block;
        width: 100%;
    }
}
