.page-menu {

}

@media (min-width: 641px) {
    .page-menu {
/*        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        height: 60px;*/
    }
}
