@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@*@using System.Globalization;*@


@inject NavigationManager navigationManager


<Title value="@DefaultTitle"></Title>

<h2>
    <span class="title text-capitalize">
        @if (@DefaultTitle.Length > 0)
        {
            @DefaultTitle
        }
        else
        {
            @Title;
        }
    </span>
</h2>

@code {


    public string DefaultTitle { get; set; }

    [Parameter]
    public string Title { get; set; } = "";

    protected override void OnInitialized()
    {
        string uri = navigationManager.Uri;
        string[] path = uri.Split('/');
        DefaultTitle = path[3];

        @*// Set title uppercase
            DefaultTitle = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(path[3].ToLower());*@
    }
}
