@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@*@using System.Globalization;*@


@inject NavigationManager navigationManager


<Title value="@Title"></Title>

<h2>
    <span class="@TitleTheme text-capitalize">
        @Title
    </span>
</h2>

@code {

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string TitleTheme { get; set; } = "hca-default-theme-title";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (string.IsNullOrWhiteSpace(Title))
        {
            throw new ArgumentNullException();
        }
    }
}
