@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@inject NavigationManager navigationManager

<Title value="@Title"></Title>

<h2>
    <span class="hca-@Theme-title text-capitalize">
        @Title
    </span>
</h2>
