@page "/about";
@using HealthCareApp.Components.PageV3;
@using HealthCareApp.Components.Breadcrumb;

<div class="container-lg">

    <PageWrapper>

        <PageTopView>
            <PageTopWrapper>
                <PageTopTitle Title="About" />
            </PageTopWrapper>
        </PageTopView>

        <PageMiddleView>
            <PageMiddleWrapper>
                <div class="d-flex row flex-lg-row-reverse align-items-center g-0 py-5">
                    <div class="col-sm-12 col-lg-5 text-center px-2">
                        <img src="/images/hca-profile.jpg" class="img-fluid rounded hca-box-shadow mb-3" alt="Profile" loading="lazy">
                    </div>
                    <div class="col-lg-7 px-2">
                        <h1 class="display-5 mb-3">
                            <NavLink target="_blank" href="https://linkedin.com/in/luis-schneiders/">
                                Luis Schneiders
                                <sup>
                                    <i class="bi bi-linkedin sm-icon"></i>
                                </sup>
                            </NavLink>
                        </h1>
                        <p>
                            Luis is a Web Application Developer with experience in developing applications and solving complex business requirements.
                        </p>
                        <strong>Specialities:</strong>
                        <ul>
                            <li>
                                Code languages (Javascript, Cobol, C#, ZPL)
                            </li>
                            <li>
                                Frameworks (Express.JS, React.JS, Angular, .NET, Microsoft Blazor)
                            </li>
                            <li>
                                Web (HTML5, CSS3, BEM, Jquery, RxJS, NgRx, Typescript)
                            </li>
                            <li>
                                DB (MySQL, Microsoft SQL Server, MongoDB)
                            </li>
                            <li>
                                Hybrid app development (Ionic, Phonegap, Cordova)
                            </li>
                            <li>
                                eCommerce development (WordPress theme development, Shopify theme development)
                            </li>
                        </ul>
                        <strong>Skills:</strong>
                        <ul>
                            <li>
                                Expert in developing creative, innovative and practical solutions.
                            </li>
                            <li>
                                Strong planning and organising skills.
                            </li>
                            <li>
                                Customer services excellence.
                            </li>
                            <li>
                                Flexibility and adaptability.
                            </li>
                            <li>
                                Resourceful.
                            </li>
                        </ul>
                    </div>
                </div>
            </PageMiddleWrapper>
        </PageMiddleView>

        <PageBottomView>
            <PageBottomWrapper/>
        </PageBottomView>

    </PageWrapper>

</div>

@*<PageWrapper>
    <PageHeader Styles="">
        <PageHeaderTitle Title="About"></PageHeaderTitle>
        <PageMenu>
        </PageMenu>
    </PageHeader>
    <PageBody Styles="">

        <div class="d-flex row flex-lg-row-reverse align-items-center g-0 py-5">
            <div class="col-sm-12 col-lg-5 text-center px-2">
                <img src="/images/hca-profile.jpg" class="img-fluid rounded hca-box-shadow mb-3" alt="Profile" loading="lazy">
            </div>
            <div class="col-lg-7 px-2">
                <h1 class="display-5 mb-3">
                    <NavLink target="_blank" href="https://linkedin.com/in/luis-schneiders/">
                        Luis Schneiders
                        <sup>
                            <i class="bi bi-linkedin sm-icon"></i>
                        </sup>
                    </NavLink>
                </h1>
                <p>
                    Luis is a Web Application Developer with experience in developing applications and solving complex business requirements.
                </p>
                <strong>Skills:</strong>
                <ul>
                    <li>
                        Expert in developing creative, innovative and practical solutions.
                    </li>
                    <li>
                        Strong planning and organising skills.
                    </li>
                    <li>
                        Customer services excellence.
                    </li>
                    <li>
                        Flexibility and adaptability.
                    </li>
                    <li>
                        Resourceful.
                    </li>
                </ul>
                <strong>Specialities:</strong>
                <ul>
                    <li>
                        Code languages (Javascript, Cobol, C#, ZPL)
                    </li>
                    <li>
                        Frameworks (Express.JS, React.JS, Angular, .NET, Microsoft Blazor)
                    </li>
                    <li>
                        Web (HTML5, CSS3, BEM, Jquery, RxJS, NgRx, Typescript)
                    </li>
                    <li>
                        DB (MySQL, Microsoft SQL Server, MongoDB)
                    </li>
                    <li>
                        Hybrid app development (Ionic, Phonegap, Cordova)
                    </li>
                    <li>
                        eCommerce development (WordPress theme development, Shopify theme development)
                    </li>
                </ul>

            </div>
        </div>

    </PageBody>
    <PageFooter Styles="">
    </PageFooter>
</PageWrapper>*@
